<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".ade" mimeType="application/ade" />
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
        <security>
            <requestFiltering>
                  <requestLimits maxAllowedContentLength="104857600" maxUrl="104857600" maxQueryString="104857600" />
                <fileExtensions>
                    <add fileExtension=".php" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <httpErrors errorMode="Detailed" />

    </system.webServer>
<system.web>
    <webServices>
        <protocols>
            <add name="HttpPost" />
            <add name="HttpGet" />
            <add name="HttpSoap" />
            <add name="Documentation" />
        </protocols>
    </webServices>
    <httpRuntime executionTimeout="7200" maxRequestLength="100000000" />
  </system.web>
    
     <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="100000000" />
            </webServices>

        </scripting>
    </system.web.extensions>
</configuration>
